extends layout
block content
    include navi
    div.container-fluid.userImage
        img.rounded-circle.text-center(src="/images/face.png" alt="User Image")
    //- div.card.text-white.bg-primary.mb-3
    //-     div.card-header #{username}
    //-     div.card-body
    //-         img.rounded-circle(src="/images/face.png" alt="User Image")
    //-         h4.card-title 칭호 여기다가(점수별 업적 칭호)
    //-         p.card-text
    //-             li 질문 수 여기다가
    //-             li 답변 수 여기다가
    //-             li 점수(어떤 기준으로 산출할지 아직 안정함) 여기다가
    //- div.card.text-white.bg-secondary.mb-3(style='max-width: 20rem;')
    //-     div.card-header Header
    //-     div.card-body
    //-         h4.card-title Secondary card title
    //-         p.card-text
    //-             | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
    //- div.card.text-white.bg-success.mb-3(style='max-width: 20rem;')
    //-     div.card-header Header
    //-     div.card-body
    //-         h4.card-title Success card title
    //-         p.card-text
    //-             | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
    //- div.card.text-white.bg-danger.mb-3(style='max-width: 20rem;')
    //-     div.card-header Header
    //-     div.card-body
    //-         h4.card-title Danger card title
    //-         p.card-text
    //-             | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
    //- div.card.text-white.bg-warning.mb-3(style='max-width: 20rem;')
    //-     div.card-header Header
    //-     div.card-body
    //-         h4.card-title Warning card title
    //-         p.card-text
    //-             | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
    //- div.card.text-white.bg-info.mb-3(style='max-width: 20rem;')
    //-     div.card-header Header
    //-     div.card-body
    //-         h4.card-title Info card title
    //-         p.card-text
    //-             | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
    //- div.card.bg-light.mb-3(style='max-width: 20rem;')
    //-     div.card-header Header
    //-     div.card-body
    //-         h4.card-title Light card title
    //-         p.card-text
    //-             | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
    //- div.card.text-white.bg-dark.mb-3(style='max-width: 20rem;')
    //-     div.card-header Header
    //-     div.card-body
    //-         h4.card-title Dark card title
    //-         p.card-text
    //-             | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
