nav(class="navbar navbar-expand-lg navbar-dark bg-primary")
    a(class="navbar-brand" href="/home") SOF
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="navbarColor01")
        ul(class="navbar-nav mr-auto")
            li(class="nav-item")
                a(class="nav-link" href="/codeqna/list") Code Q&A
            li(class="nav-item")
                a(class="nav-link" href="/freetalk/list") Free Talk
            li(class="nav-item")
                a(class="nav-link" href="/codehub/list") Code Hub
            li(class="nav-item")
                a(class="nav-link" href='/users/logout') Logout